<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite"  thread-count="2" >
<listeners>
		<listener
			class-name="com.hcl.smartrecruit.listners.TestListener" />
	</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browserName"      value="chrome"></parameter>
    <classes>
      <class name="com.hcl.smartrecruit.testscripts.ApproveAllRequisition"/>
    </classes>
  </test> 
 <!-- <test thread-count="5" name="Test2">
  <parameter name="browserName"      value="chrome"></parameter>
    <classes>
      <class name="com.hcl.smartrecruit.testscripts.CreateNewRequisition"/>
    </classes>
  </test>   -->
</suite> <!-- Suite -->
